In [28]:
import pandas as pd

namen_df = pd.read_excel('namen.xlsx', sheet_name="collectie")
bestelling_df = pd.read_csv('bestelling.csv')

namen_df['postcode'] = namen_df['postcode'].fillna(8017)
namen_df['letters'] = namen_df['letters'].fillna('CA')

namen_df.loc[namen_df['id'] == 3, 'huisnummer'] = 14

kosten=9
shirt=50

namen_df['Naam_Lengte'] = namen_df['naam'].apply(len)
namen_df['Kosten_Shirt'] = shirt + (namen_df['Naam_Lengte'] * kosten)
namen_df.head()

bestelling_df.columns = ['klantid', 'bestelid']

result = pd.merge(namen_df, bestelling_df, left_on='id', right_on='klantid', how='inner')

namen_df['postcode'] = namen_df['postcode'].astype(int)
namen_df.head()

   id     naam  postcode letters huisnummer  Naam_Lengte  Kosten_Shirt
0   1     uron      8017      CA          6            4            86
1   2     lynn      8021      CR          2            4            86
2   3   niekie      7121      HM         14            6           104
3   4  noortje      8017      CA          2            7           113
4   5    baloe      7722      RB         19            5            95